name: Validate PR

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    
    steps:
      - name: "Checkout"
        uses: "actions/checkout@1e31de5234b9f8995739874a8ce0492dc87873e2"

      - name: Use Node 22.18.0
        uses: actions/setup-node@8f152de45cc393bb48ce5d89d36b731f54556e65
        with:
          node-version: 22.18.0

      - name: Setup pnpm
        uses: pnpm/action-setup@3236b209b507b249883918e7c4c8c7cdd2c0d5db
        with:
          version: 10

      - name: Prepare
        run: |
          pnpm install --frozen-lockfile

      - name: Run Build
        run: |
          pnpm build

      - name: Run Unit Test
        run: |
          pnpm test